body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* HEADER */

.header {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .left-header img {
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: auto;
    padding: 8px 16px;
    margin: 8px 48px;
}

.header ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin-right: 48px;
}

.header a {
    text-decoration: 0;
    color: #E5E7EB;
    margin-right:48px;
}

/* MAIN CONTENT AREA */




button {
    background-color: #3882F6;
    color: white;
    border: none;
    margin: 8px 4px;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 8px 32px;
    
    
}

.main-content {
    display:flex;
    background-color: #1F2937;
    flex: 1;

}

.main-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-content-right {
    text-align:center;
    margin-left: 0px;
}

.main-content-left,
.main-content-right {
    margin: 48px;
    flex: 1;
    padding: 16px;
    margin-top: 0px;
    margin-bottom: 48px;
}

.main-content img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 450px;
    align-self: center;
    border: 8px solid rgb(175, 57, 57);
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
    
  
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}


/* SMALLER INFO CARDS SECTION */
.info img {
    max-height: 300px;
    max-width: 300px;
    
    height: auto;
    width: auto;
    border: 8px solid rgb(175, 57, 57);
    border-radius: 32px;
    box-shadow: 2px 2px 3px black;
    object-fit: cover;
    

}
.container {
    display: flex;
    gap: 8px;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 16px;
    margin: 48px;
}

.content-block-2 .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 16px;
    text-align: center;
}
.info {
    text-align: center;
    max-width: 300px;  
    border: 8px;
    border-color: #3882F6;
    
}

/* The quote section */
.content-quote-block {
    background-color: #f1f3f7;
    margin: 48px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
    text-align: center;
    margin: 48px;
    padding: 16px;
    margin-bottom: 0px;
}

.quote-author {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    text-align: right;
    margin: 48px;
    margin-top: 0px;
    padding: 16px;
}

.cta-container {
    display: flex;
    justify-content: center;
}

/* The call to action */
.call-to-action {
    display: flex;
    background-color: #3882F6;
    margin: 32px 100px;
    border-radius: 12px;
    padding: 16px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.cta-left {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex: 2;
}
.cta-right {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.cta-title {
    color: #f1f3f7;
    font-weight: bolder;
    padding: 8px;
}

.cta-text {
    color: #f1f3f7;
    font-size: 12px;
    padding: 8px;
}
.cta-right .cta-button {
    border-color: white;
    writing-mode: horizontal-tb;

    border-style: outset;
    padding: 8px;
    margin: 4px;
}

/* Footer */

.footer {
    background-color: #1F2937;
    text-align:center;
    color: rgb(235, 230, 230);
    padding: 16px;
    font-size: 12px;
}


